@using MvcStok.Models.Entity
@model List<tbl_Urunler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<a href="/Urun/YeniÜrün/" class="btn btn-success">Yeni Ürün Ekle</a>

<table id="tbl9" class="table table-bordered" style="margin-top:25px">
    <thead>
        <tr>
            <th>ÜRÜN ID</th>
            <th>ÜRÜN ADI</th>
            <th>MARKA</th>
            <th>KATAGORİ</th>
            <th>FİYAT</th>
            <th>STOK</th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>@item.URUNID</th>
                <td>@item.URUNAD</td>
                <td>@item.MARKA</td>
                <td>@item.tbl_katagori.KATAGORİAD</td>
                <td>@item.URUNFİYAT</td>
                <td>@item.STOK</td>
                <td><a href="/Urun/Sil/@item.URUNID" class="btn btn-danger">Sil</a></td>
                <td><a href="/Urun/UrunGetir/@item.URUNID" class="btn btn-warning">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>
<link href="~/Content/DataTables/css/dataTables.bootstrap4.css" rel="stylesheet" />


